main {
  min-height: 100vh;

  > h1 {
    margin: 0 1rem 2rem 1rem;
    padding: 0 1rem;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 100;
    border-bottom: solid 1px hsl(var(--color-hsl) / 0.3);
  }
  
  > h2 {
    margin: 0 2rem 2rem 2rem;
    padding-top: 0.5rem;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-weight: 100;
  }
  
  > p{
    margin: 0 2rem 1rem 2rem;
    font-size: 1em;
    letter-spacing: 0.02em;
  }
}
