@use '../abstracts/variables';

#deck {
    position: relative;
    display: flex;
    flex: none;
    flex-flow: column nowrap;
    width: auto;
    min-height: 100%;

    color: hsl(var(--color-hsl));

    article {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;

        background-color: hsl(var(--color-background-hsl));
        
        align-items: flex-start;

        -webkit-tap-highlight-color: transparent;

        margin-bottom: max(
            calc(-100% / (var(--width) / var(--height))),
            max(-100vh, var(--height) * -1px)
        );

        &:last-child {
            height: calc(100vh - 6rem);

            div {
                aspect-ratio: var(--width) / var(--height);
                margin: 2rem;
            }
        }

        > div {
            box-sizing: content-box;
            position: relative;
            width: 150vh;
            max-width: 100%;
            max-height: 200vh; 
            aspect-ratio: var(--width) / calc(var(--height) * 2);
            display: inline-block;
            padding-top: 2rem;

            img {
                z-index: 2;
                width: 100%;
                max-width: 100%;
                max-height: 100vh;
                height: auto;
                object-fit: contain;
                margin: auto;
                display: block;

                position: sticky;
                top: 0;
                content-visibility: auto;
            }

            > aside{
                position: sticky;
                left: 0;
                top: 0;
                height: 2rem;
                line-height: 2rem;
                margin-top: -2rem;
                font-size: 1.1rem;
                text-align: center;
            }

            &.devider {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: hsl(var(--color-hsl) / 0.8);
                    text-decoration: none;
                    padding: 0 0.25em;
                    border-bottom: solid 1px transparent;
                
                    &:hover, &.active, &[aria-current="page"] {
                        color: hsl(var(--color-dark-hsl));
                        border-bottom: solid 1px hsl(var(--color-hsl) / 0.3);
                    }
                }
            }
        }
    }
}
