$divider-height: 1rem;
$duration-default: 250ms;
$transition-mode: easeinout;

:root {
    --color-hsl: 0deg 0% 35%;
    --color-dark-hsl: 0deg 0% 10%;
    --color-background-hsl: 0deg 0% 100%;
    --color-background-accent-hsl: 0deg 0% 95%;
}

