<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css" />
  <title>{{ title }}</title>
</head>
<body>
  <a href="#content">Skip to content</a>
  <a name="top"></a>

  <header>
    <h2>
      <a href="/">Kirsten Kluge</a>
    </h2>
    {% include "partials/navigation.njk" %}
  </header>
  
  <main>
    {{ content | safe }}
  </main>
  <footer>
    © 2023 Kirsten Kluge
  </footer>
</body>
</html>