---
title: My collection of images through the time
layout: base
tags:
  - years
eleventyComputed:
  eleventyNavigation:
    key: "{{ year }}"
pagination:
  data: gallery.years
  size: 1
  alias: year
  addAllPagesToCollections: true
permalink: "{{ year | slug }}/"
---

<h1>{{ year }}</h1>

<section id="deck">

  {%- for image in gallery.images | byYear(year) -%}
  <article id="{{ image.name | trimExtension | slugify }}" style="--width:{{ image.size.width }}; --height:{{ image.size.height }};">
      <div>
          <aside>
              {{ image.photo.focalLength }}mm {{ image.photo.exposureNumerator }}/{{ image.photo.exposureDenominator }} F{{ image.photo.fNumber.toFixed(1) }} ISO {{ image.photo.iso }}
          </aside>
          <a href="#{{ image.name | trimExtension | slugify }}">
              {% picture image.src, image.description, "100vw, 100vh" %}
          </a>
      </div>
  </article>
  {%- endfor -%}

  <article>
    <div class="devider">
      <a href="#">zum Anfang</a>
      <nav aria-labelledby="pagination">
        {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">⇦</a>{% endif %}
        {%- for pageEntry in pagination.pages %}
            <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ pageEntry }}</a>
        {%- endfor %}
        {% if pagination.href.next %}<a href="{{ pagination.href.next }}">⇨</a>{% endif %}
      </nav>
    </div>
  </article>


</section>
