---
title: My collection of images through the time
layout: base
tags:
  - years
eleventyComputed:
  eleventyNavigation:
    key: "{{ year }}"
pagination:
  data: gallery.years
  size: 1
  alias: year
  addAllPagesToCollections: true
permalink: "{{ year | slug }}/"
---

<section id="deck">
  <article>
      <div class="devider">
          <h3>{{ year }}</h3>
      </div>
  </article>

  {%- for image in gallery.images | byYear(year) -%}
  <article id="{{ image.name | trimExtension | slugify }}" style="--width:{{ image.size.width }}; --height:{{ image.size.height }};">
      <div>
          <a href="#{{ image.name | trimExtension | slugify }}">
              {% picture image.src, image.description, "100vw, 100vh" %}
          </a>
          <details>F{{ image.photo.fNumber }} {{ image.photo.focalLength }}mm</details>
      </div>
  </article>
  {%- endfor -%}

  <article>
    <div class="devider">
      <h3>Ende!</h3>
      <nav aria-labelledby="my-pagination">
        <ol>
          <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
          <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
      {%- endfor %}
          <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
        </ol>
      </nav>
    </div>
  </article>
</section>