---
title: All about myself
tags:
layout: base
---

{% set images = gallery.images | byYear(2022) %}
<section id="river">
    {%- for image in images -%}
    <article id="{{ image.name | trimExtension | slugify }}" style="--width:{{ image.size.width }}; --height:{{ image.size.height }};">
        <a href="#{{ image.name | trimExtension | slugify }}">
            {% picture image.src, image.description, "30rem, 30rem" %}
            <details open>
                <summary>{{ image.description }}</summary>
                <p>
                    F{{ image.photo.fNumber }} {{ image.photo.focalLength }}mm
                </p>
            </details>
        </a>
        
        <figure>
            {% if not loop.first %}
                <a href="#{{images[loop.index0-1].name | trimExtension | slugify }}" title="previous">&lt;</a>
            {% endif %}
            <a href="#!" title="close">close</a>
            {% picturezoom image.src, image.description, "100vw, 100vh" %}
            {% if not loop.last %}
                <a href="#{{images[loop.index0+1].name | trimExtension | slugify }}" title="next">&gt;</a>
            {% endif %}
        </figure>        
        
    </article>
    {%- endfor -%}
</section>
