{% set navigation = collections.root | eleventyNavigation %}
{% set years = collections.years | eleventyNavigation %}

<nav>
    {%- for entry in navigation %}
        <a href="{{ entry.url }}" {% if entry.url == page.url %} class="active"{% endif %}>{{ entry.title }}</a>
    {%- endfor %}
    <span>·</span>
    {%- for entry in years %}
        <a href="{{ entry.url }}" {% if entry.url == page.url %} class="active"{% endif %}>{{ entry.title }}</a>
    {%- endfor %}
</nav>
