@use 'typography';

body {
    font-family: typography.$font;
    font-weight: 100;
    font-size: 1.6rem;
    margin: 0;
  
    background-color: hsl(var(--color-background-hsl));
    color: hsl(var(--color-hsl));
      
    position: relative;
}
