@use 'typography';

body,
html {
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none ;
}

body {
    font-family: typography.$font;
    font-weight: 100;
    font-size: 1.1em;

    color: var(--foregroundcolor);
    background-color: var(--backgroundcolor);
}
